#main {
    border: 1px solid black;
    padding: 50px;
    border-radius: 50px;
    max-width: min-content;
    max-height: min-content;
    margin: auto;
}
#top-board {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 50px;
}
#container {
    border: 1px black solid;
    margin: auto;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    /* border: 1px black solid; */
    width: 40px;
    height: 40px;
}

.highlight {
    background-color: black;
}